@page "/grid"
@inject HttpClient Http

<div class="container">
<h1>@Title</h1>
    @if (pets == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="filter-bar">
            <input type="text" placeholder="Filter" name="filter" title="Filter Teable" />
        </div>
        <table class="bz-grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pet in pets) {
                    <tr @onclick=@(()=> OpenPopup(pet))>
                        <td>@pet.Name</td>
                        <td>@pet.Breed</td>
                        <td>@pet.Age</td>
                    </tr>
                }
            </tbody>
        </table>
         <div id="background" class="@DetailOpen"></div>
        <div id="popup" class="@DetailOpen">
            <div class="header-row">
                <span>DETAILS</span>
                <span id="close-btn" @onclick=ClosePopup>X</span>
            </div>
            <div class="detail-row">
                <span class="detail-title">Name:</span>
                <span class="detail-info">@selectedRow.Name</span>
            </div>
            <div class="detail-row">
                <span class="detail-title">Breed:</span>
                <span class="detail-info">@selectedRow.Breed</span>
            </div>
            <div class="detail-row">
                <span class="detail-title">Age:</span>
                <span class="detail-info">@selectedRow.Age</span>
            </div>
        </div>
    }
</div>
@functions {
    public string Title = "A Bunch of Pets";

    Pet[] pets;

    Pet selectedRow = new Pet();

    string DetailOpen = "hidden";

    private void OpenPopup( Pet pet ) 
    {
        DetailOpen = (DetailOpen == "hidden") ? "" : "hidden";
        selectedRow = pet;
    }

    private void ClosePopup() 
    {
        DetailOpen = "hidden";    
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("clciked!");
        pets = await Http.GetJsonAsync<Pet[]>("http://localhost:3000");
    }

    public class Pet 
    {
        public string Name { get; set; }
        public string Breed { get; set; }
        public int Age { get; set; }
    }
}